
/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/
.top-banner- {
    overflow: hidden;
    clear: both;
    height: 600px;
}
.top-banner-slider .heroslider {
    margin: 0px;
    padding: 0px;
    border: none;
    position: relative;
    border-radius: 0;
}
.swiper-overlay {
    height: 100%;
    position: relative;
}
.swiper-overlay {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.heroslider .container {
    position: relative;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    z-index: 5;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
/* .heroslider .slider-01 {
    width: 100%;
    background-image: url(../images/slider-01.jpg);
    background-size: cover;
    background-position: center;
}
.heroslider .slider-02 {
    width: 100%;
    background-image: url(../images/slider-02.jpg);
    background-size: cover;
    background-position: center;
}
.heroslider .slider-03 {
    width: 100%;
    background-image: url(../images/slider-03.jpg);
    background-size: cover;
    background-position: center;
} */
.heroslider .slides li {
    height: 600px;
}
.top-banner-slider .heroslider .slides li::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}
.top-banner-slider .flex_caption3 {
    position: absolute;
    z-index: 30;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: 0 -15px;
    display: flex;
}
a.slide_banner {
    position: relative;
    display: inline-block;
    margin: 0 12px 0 15px;
}
.slide1_banner1 {
    width: 570px;
}
.slide1_banner2 {
    width: 270px;
}
.slide1_banner3 {
    width: 270px;
}
.top-banner-slider .flex_caption1 {
    text-align: center;
    position: absolute;
    z-index: 30;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 31%;
    max-width: 720px;
    width: 100%;
    text-transform: uppercase;
    color: #333;
}
.top-banner-slider .flex_caption1 .title1 {
    font-size: 36px;
    font-weight: 300;
    color: #ffffff;
}
.top-banner-slider .flex_caption1 .title2 {
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
}
.top-banner-slider .flex_caption2 {
    text-align: center;
}
.top-banner-slider .flex_caption2 {
    position: absolute;
    z-index: 30;
    left: 0;
    top: 20%;
    display: table;
    width: 177px;
    height: 177px;
    background-color: #242424;
}
.top-banner-slider .flex_caption2 .middle {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 31px;
    font-size: 26px;
    color: #fff;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}
.top-banner-slider .flex_caption2 .middle:hover {
    background: #38c8a8;
}
.top-banner-slider .flex_caption2 span {
    display: block;
    font-weight: 100;
    line-height: 36px;
    font-size: 34px;
}
a.slide_banner::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border: 2px solid #ffffff;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}
a.slide_banner:hover::before {
    left: -7px;
    top: -7px;
    right: -7px;
    bottom: -7px;
    opacity: 1;
}
.flex-control-nav {
    background: #38c8a8;
    bottom: 0px;
    position: relative;
}
.flex-control-nav li {
    line-height: 10px;
}
.flex-control-paging li a {
    background: rgba(255, 255, 255, 1);
    border: 2px solid #ffffff;
}
.flex-control-paging li a.flex-active {
    border: 2px solid #ffffff;
}
.flex-direction-nav a {
    background: #111111;
    text-align: center;
}
.heroslider:hover .flex-direction-nav .flex-prev:hover {
    background: #38c8a8;
}
.heroslider:hover .flex-direction-nav .flex-next:hover {
    background: #38c8a8;
}
.flex-direction-nav a::before {
    color: #ffffff;
}
.top-banner-slider .swiper-pagination {
    padding: 10px 0px;
}
.heroslider .swiper-pagination {
    bottom: 0px;
    background: #38c8a8;
}
.heroslider .swiper-pagination .swiper-pagination-bullet-active {
    background: #fff;
}
.heroslider .swiper-pagination::before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: -10px;
    top: 4px;
    z-index: -1;
    background: #e12d4f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.heroslider .swiper-pagination::after {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    right: -10px;
    top: 4px;
    z-index: -1;
    background: #e12d4f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.heroslider .swiper-pagination.swiper-pagination-bullets-dynamic {
    overflow: visible;
    width: 110px !important;
}
.heroslider .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
}
input[type="checkbox"].styled:checked+label:after,
input[type="radio"].styled:checked+label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
input[type="checkbox"] .styled:checked+label::before,
input[type="radio"] .styled:checked+label::before {
    color: #fff;
}
input[type="checkbox"] .styled:checked+label::after,
input[type="radio"] .styled:checked+label::after {
    color: #fff;
}
